@import url(https://fonts.googleapis.com/css?family=Pacifico|Quicksand|Amatic+SC|Dancing+Script);
#content {
  padding: 5% 0; }
  #content .nav-tabs li {
    text-align: center; }
    #content .nav-tabs li.col-sm-3, #content .nav-tabs li .col-md-3 {
      padding: 0px; }
    #content .nav-tabs li a {
      width: 100%;
      background-color: #2e7d32;
      margin: 0px;
      color: white;
      padding: 5px;
      font-size: 25px;
      border: 1px solid #145D1E;
      border-radius: 10px; }
      #content .nav-tabs li a:hover {
        font-weight: bold;
        background-color: #19451c; }
    #content .nav-tabs li a:focus {
      background: -webkit-linear-gradient(top, #2e7d32, #a5d6a7); }
  #content .panel-body {
    padding: 20px;
    max-height: 600px;
    overflow: scroll; }
    #content .panel-body .tab-content {
      padding: 10px; }
      #content .panel-body .tab-content .tab-pane p {
        font-family: Quicksand;
        font-size: 18px; }
      #content .panel-body .tab-content .tab-pane ul li {
        font-family: Quicksand;
        font-size: 18px; }
      #content .panel-body .tab-content .tab-pane #galleries-pages li a {
        font-size: 18px;
        font-family: Quicksand; }
      #content .panel-body .tab-content #about {
        position: relative; }
        #content .panel-body .tab-content #about h2 {
          font-weight: bold;
          margin-bottom: 10px; }
        #content .panel-body .tab-content #about h4 {
          font-family: Quicksand;
          font-size: 20px; }
        #content .panel-body .tab-content #about p {
          font-family: Quicksand; }
          #content .panel-body .tab-content #about p strong {
            font-family: Quicksand;
            font-style: italic; }
        #content .panel-body .tab-content #about .img-hover {
          height: 200px;
          width: 200px;
          background-image: url(../images/chavela.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          transition-timing-function: ease-in-out;
          transition: 1s;
          -webkit-transition: 1s; }
          #content .panel-body .tab-content #about .img-hover:hover {
            transition-timing-function: ease-in-out;
            -webkit-transition: 1s;
            transition: 1s;
            background-image: url(../images/caricatura.jpg);
            background-repeat: no-repeat;
            background-size: cover; }
        #content .panel-body .tab-content #about .square {
          display: inline-block;
          text-align: center;
          padding: 10px;
          height: 70px;
          width: 70px;
          border: 1px solid #474747;
          margin: 2px; }
          #content .panel-body .tab-content #about .square i {
            font-size: 30px;
            color: white; }
        #content .panel-body .tab-content #about .caja-r {
          background-color: #FF8000; }
          #content .panel-body .tab-content #about .caja-r:hover {
            background-color: #b35a00; }
        #content .panel-body .tab-content #about .caja-b {
          background-color: #3B5998; }
          #content .panel-body .tab-content #about .caja-b:hover {
            background-color: #263961; }
        #content .panel-body .tab-content #about .caja-y {
          background-color: #880e4f; }
          #content .panel-body .tab-content #about .caja-y:hover {
            background-color: #430727; }
        #content .panel-body .tab-content #about .caja-g {
          background-color: #4caf50; }
          #content .panel-body .tab-content #about .caja-g:hover {
            background-color: #357a38; }
        #content .panel-body .tab-content #about .contenedor {
          border: 1px solid black;
          text-align: center;
          top: 0%;
          left: 30%;
          position: absolute;
          height: 150px;
          width: 400px;
          color: white;
          padding: 20px;
          transition: all 0.5s ease-in;
          -webkit-box-shadow: -23px 17px 28px 0px rgba(0, 0, 0, 0.55);
          -moz-box-shadow: -23px 17px 28px 0px rgba(0, 0, 0, 0.55);
          box-shadow: -23px 17px 28px 0px rgba(0, 0, 0, 0.55); }
          #content .panel-body .tab-content #about .contenedor h3 {
            font-family: Amatic SC;
            font-size: 30px;
            font-weight: bold;
            transition: all 0.5s ease-in; }
          #content .panel-body .tab-content #about .contenedor._hide {
            height: 50px;
            width: 100px;
            opacity: 0;
            transition: all 0.5s ease-in; }
            #content .panel-body .tab-content #about .contenedor._hide h3 {
              transition: all 0.5s ease-in;
              font-size: 0px;
              opacity: 0; }
        #content .panel-body .tab-content #about #draw {
          background-color: #FF8000; }
        #content .panel-body .tab-content #about #gamepad {
          background-color: #3B5998; }
        #content .panel-body .tab-content #about #face {
          background-color: #880e4f; }
        #content .panel-body .tab-content #about #people {
          background-color: #4caf50; }
        #content .panel-body .tab-content #about #note {
          -webkit-box-shadow: 21px 17px 28px 0px rgba(0, 0, 0, 0.55);
          -moz-box-shadow: 21px 17px 28px 0px rgba(0, 0, 0, 0.55);
          box-shadow: 21px 17px 28px 0px rgba(0, 0, 0, 0.75);
          background-color: #3B5998; }
        #content .panel-body .tab-content #about #batery {
          background-color: #880e4f;
          -webkit-box-shadow: 21px 17px 28px 0px rgba(0, 0, 0, 0.55);
          -moz-box-shadow: 21px 17px 28px 0px rgba(0, 0, 0, 0.55);
          box-shadow: 21px 17px 28px 0px rgba(0, 0, 0, 0.55); }
        #content .panel-body .tab-content #about #tenedor {
          background-color: #4caf50;
          -webkit-box-shadow: 21px 17px 28px 0px rgba(0, 0, 0, 0.55);
          -moz-box-shadow: 21px 17px 28px 0px rgba(0, 0, 0, 0.55);
          box-shadow: 21px 17px 28px 0px rgba(0, 0, 0, 0.55); }
        #content .panel-body .tab-content #about #compu {
          background-color: #FF8000;
          -webkit-box-shadow: 21px 17px 28px 0px rgba(0, 0, 0, 0.55);
          -moz-box-shadow: 21px 17px 28px 0px rgba(0, 0, 0, 0.55);
          box-shadow: 21px 17px 28px 0px rgba(0, 0, 0, 0.55); }
      #content .panel-body .tab-content #ability {
        text-align: center; }
        #content .panel-body .tab-content #ability .caja {
          padding: 10px;
          margin: 15px 0px;
          border-radius: 10px;
          transition-timing-function: ease-in-out;
          transition: 1s;
          -webkit-transition: 1s; }
          #content .panel-body .tab-content #ability .caja:hover {
            background-color: #92cf94; }
            #content .panel-body .tab-content #ability .caja:hover h3 {
              -webkit-transition: 1s;
              /* Safari */
              transition: 1s;
              opacity: 0.9; }
          #content .panel-body .tab-content #ability .caja h3 {
            opacity: 0.0;
            font-weight: bold;
            font-size: 30px; }
          #content .panel-body .tab-content #ability .caja img {
            width: 100px;
            height: 100px; }
      #content .panel-body .tab-content #galleries .caja {
        margin: 10px 0px;
        border: 5px solid transparent; }
        #content .panel-body .tab-content #galleries .caja h3 {
          text-align: center;
          opacity: 0.0;
          font-weight: bolder;
          font-size: 30px; }
        #content .panel-body .tab-content #galleries .caja:hover {
          border: 5px solid #4caf50; }
          #content .panel-body .tab-content #galleries .caja:hover h3 {
            transition: 1s;
            -webkit-transition: 1s;
            opacity: 0.9; }
      #content .panel-body .tab-content #contact {
        text-align: center; }
        #content .panel-body .tab-content #contact h2 {
          text-align: center;
          font-size: 30px;
          font-family: quicksand;
          padding: 10px; }
        #content .panel-body .tab-content #contact a .caja {
          width: 100%;
          height: 140px;
          text-align: center;
          padding: 20px 10px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -webkit-transition: 1s;
          /* Safari */
          transition: 1s;
          margin: 30px 0px; }
          #content .panel-body .tab-content #contact a .caja i {
            font-size: 80px;
            color: white; }
            #content .panel-body .tab-content #contact a .caja i h6 {
              font-size: 0px;
              opacity: 0; }
          #content .panel-body .tab-content #contact a .caja:hover i {
            transition: 1s;
            -webkit-transition: 1s;
            font-size: 50px; }
            #content .panel-body .tab-content #contact a .caja:hover i h6 {
              opacity: 0.9;
              transition: 1s;
              -webkit-transition: 1s;
              font-size: 20px;
              font-family: quicksand; }
        #content .panel-body .tab-content #contact a .facebook {
          background-color: #3B5998; }
          #content .panel-body .tab-content #contact a .facebook:hover {
            background-color: #1e2e4f; }
        #content .panel-body .tab-content #contact a .twitter {
          background-color: #4099FF; }
          #content .panel-body .tab-content #contact a .twitter:hover {
            background-color: #0065d9; }
        #content .panel-body .tab-content #contact a .github {
          background-color: #6e5494; }
          #content .panel-body .tab-content #contact a .github:hover {
            background-color: #3e2f53; }
        #content .panel-body .tab-content #contact a .gitlab {
          background-color: #fc6d26; }
          #content .panel-body .tab-content #contact a .gitlab:hover {
            background-color: #b93f03; }
        #content .panel-body .tab-content #contact a .gmail {
          background-color: #ea4335; }
          #content .panel-body .tab-content #contact a .gmail:hover {
            background-color: #a81d11; }
        #content .panel-body .tab-content #contact .cuadrado {
          max-width: 30%;
          height: 140px;
          background-color: #4caf50;
          text-align: center;
          padding: 20px 10px;
          -webkit-border-radius: 10%;
          -moz-border-radius: 10%;
          border-radius: 10px;
          -webkit-transition: 1s;
          /* Safari */
          transition: 1s;
          margin: 30px 0px 30px 35%; }
          #content .panel-body .tab-content #contact .cuadrado i {
            font-size: 80px;
            color: white; }
            #content .panel-body .tab-content #contact .cuadrado i h6 {
              font-size: 1px;
              opacity: 0; }
          #content .panel-body .tab-content #contact .cuadrado:hover {
            background-color: #3d8b40; }
            #content .panel-body .tab-content #contact .cuadrado:hover i {
              transition: 1s;
              -webkit-transition: 1s;
              font-size: 50px; }
              #content .panel-body .tab-content #contact .cuadrado:hover i h6 {
                opacity: 0.9;
                transition: 1s;
                -webkit-transition: 1s;
                font-size: 20px;
                font-family: quicksand; }
        #content .panel-body .tab-content #contact .cubo {
          max-width: 80%;
          height: 140px;
          background-color: #4caf50;
          text-align: center;
          padding: 20px 10px;
          -webkit-border-radius: 10%;
          -moz-border-radius: 10%;
          border-radius: 10px;
          -webkit-transition: 1s;
          /* Safari */
          transition: 1s;
          margin: 30px 0px 30px 10%; }
          #content .panel-body .tab-content #contact .cubo i {
            font-size: 50px;
            color: white; }
            #content .panel-body .tab-content #contact .cubo i h6 {
              opacity: 0; }
          #content .panel-body .tab-content #contact .cubo:hover {
            background-color: #3d8b40; }
            #content .panel-body .tab-content #contact .cubo:hover i h6 {
              opacity: 0.9;
              transition: 1s;
              -webkit-transition: 1s;
              font-size: 20px;
              font-family: quicksand; }

body {
  background-image: url("../images/bg-hojas.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

#contenedor-redes ul {
  padding: 10px;
  top: 25%;
  list-style: none;
  position: fixed;
  z-index: 2000;
  left: 0%; }
  #contenedor-redes ul li {
    padding: 5px; }
    #contenedor-redes ul li .box {
      background-color: #3B5998;
      height: 50px;
      width: 50px;
      color: white;
      font-size: 30px;
      padding: 6px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      -webkit-transition: width 1s;
      /* Safari */
      transition: width 1s;
      transition-timing-function: ease-in-out; }
      #contenedor-redes ul li .box h6 {
        font-family: quicksand;
        font-size: 0px;
        transition-timing-function: ease-in-out;
        -webkit-transition: 1s;
        /* Safari */
        transition: 1s;
        opacity: 0.1;
        display: inline-block; }
      #contenedor-redes ul li .box:hover {
        width: 190px;
        transition-timing-function: ease-in-out;
        -webkit-transition: 1s;
        /* Safari */
        transition: 1s; }
        #contenedor-redes ul li .box:hover i h6 {
          font-size: 25px;
          opacity: 1;
          margin: 0px 15px;
          transition: 1s;
          -webkit-transition: 1s; }
    #contenedor-redes ul li .facebook {
      background-color: #3B5998;
      padding: 5px 0px 5px 10px; }
    #contenedor-redes ul li .twitter {
      background-color: #4099FF; }
    #contenedor-redes ul li .github {
      background-color: #6e5494; }
    #contenedor-redes ul li .gitlab {
      background-color: #fc6d26; }

ul {
  list-style: none; }

i {
  margin: 5px; }

img {
  max-width: 100%; }

* {
  font-family: Amatic SC;
  font-weight: bold; }

@media only screen and (max-width: 420px) {
  .fondo-1 {
    background-size: 100% 100%;
    width: 100%;
    height: 300px; }
    .fondo-1::before {
      background-color: rgba(0, 0, 0, 0.57); }
    .fondo-1 a .icon-div {
      margin: 0 auto !important; }

  #content .nav-tabs li {
    float: center; }
    #content .nav-tabs li a {
      max-width: 100%;
      padding: 5px  !important;
      font-size: 25px; }

  #contact .cuadrado {
    max-width: 50%;
    margin: 30px 0px 30px 10%; } }
@media (min-width: 360px) {
  .fondo-1 {
    background-size: 100% 100%;
    width: 100%;
    height: 300px; }
    .fondo-1::before {
      background-color: rgba(0, 0, 0, 0.57); }
    .fondo-1 a .icon-div {
      margin: 0 auto; }

  #content .nav-tabs li {
    float: center; }
    #content .nav-tabs li a {
      max-width: 100%;
      font-size: 25px !important; }

  #contact .cuadrado {
    max-width: 50%; } }
@media (min-width: 767px) {
  .fondo-1 {
    text-align: center;
    background-size: 100% 100%;
    width: 100%;
    height: 600px; }
    .fondo-1::before {
      background-color: rgba(0, 0, 0, 0.57); }
    .fondo-1 a .icon-div {
      margin: 0 auto; } }
.fondo {
  background-size: cover; }

.fondo-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat; }

.fondo-1 {
  margin-top: -20px;
  position: relative;
  background-size: cover;
  padding: 0%;
  background-image: url(../images/code-blue.gif);
  height: 700px;
  text-align: center; }
  .fondo-1::before {
    top: 0%;
    background-color: rgba(0, 0, 0, 0.77);
    width: 100%;
    height: 700px;
    content: '';
    display: block;
    position: absolute; }
  .fondo-1 h1 {
    padding-top: 100px;
    color: white;
    opacity: 0.9;
    font-size: 80px;
    font-weight: bold; }
  .fondo-1 h2 {
    padding: 10px;
    color: white;
    opacity: 0.9;
    font-size: 70px;
    font-weight: bold; }
  .fondo-1 a .icon-div {
    margin-top: 120px !important;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 7px solid white;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    opacity: 0.9;
    background: transparent; }
    .fondo-1 a .icon-div i {
      font-size: 100px;
      color: white; }
    .fondo-1 a .icon-div:hover {
      background: white; }
      .fondo-1 a .icon-div:hover i {
        color: black; }

footer {
  text-align: center;
  background-color: #205823;
  padding: 2% 0;
  color: white; }
  footer h3 {
    font-family: quicksand;
    font-size: 20px;
    display: inline-block;
    padding: 10px; }
  footer img {
    height: 70px;
    width: 60%; }

/*# sourceMappingURL=main.css.map */
