@media (min-width: 414px) { 
	.fondo-1{
		background-size: 100% 100%;
		width: 100%;
		height: 300px;
		&::before{
			background-color: rgba(0, 0, 0, 0.57);
		}
	}
	#content{
		.nav-tabs{
			li{ 
				float: center;
				a {
					max-width: 100%;
					padding: 5px  !important;
				}
			}
		}
	}
	#content {
		.tab-content{
			#about{
				.contenedor{
					width: 200px;
					height: 300px;
					left: 0%;
				}
			}
		} 
	}
	#contact{
		#contact{
			.facebook{
				max-width: 70% ;
			}
			.twitter{
				max-width: 50%;
			}
			.github{
				max-width: 50%;
			}
			.gitlab{
				max-width: 50%;
			}
			.gmail{
				max-width: 50%;
			}
		}
	}
	footer{
		img{
			display:none;
		}
	}	
}
@media (min-width: 384px) {
	.fondo-1{
		background-size: 100% 100%;
		width: 100%;
		height: 300px;
		&::before{
			background-color: rgba(0, 0, 0, 0.57);
		}
	}
	#content{
		.nav-tabs{
			li{ 
				float: center;
				a {
					max-width: 100%;
					padding: 5px !important;
				}
			}
		}
	}
	#content {
		.tab-content{
			#about{
				.contenedor{
					width: 200px;
					height: 300px;
					left: 0%;
				}
			}
		} 
	}
	#contact{
		.facebook{
			max-width: 70%;
		}
		.twitter{
			max-width: 50% ;
		}
		.github{
			max-width: 50%;
		}
		.gitlab{
			max-width: 50%;
		}
		.gmail{
			max-width: 50%;
		}
	}
	footer{
		img{
			display:none
		}
	}	
}