
//los tabs
#content{
    padding: 5% 0;
    .nav-tabs{
        li{
            text-align: center;
            &.col-sm-3, .col-md-3{
                padding: 0px;
            }
            a{
                @include botones-simples (100%, $darken-green, 0px, 5px, 25px,1px solid #145D1E, 10px);
            }
            a:focus{
                 background: -webkit-linear-gradient(top, $darken-green, $teal);
            }
        }
    }
    .panel-body{
        padding: 20px;
        max-height: 600px;
        overflow: scroll;
        .tab-content{
            padding: 10px;
            .tab-pane{
                p{
                    font-family: Quicksand;
                    font-size: 18px;
                }
                ul{
                    li{
                        font-family: Quicksand;
                        font-size: 18px;
                    }
                }
                #galleries-pages{
                    li{
                        a{
                            font-size: 18px;
                            font-family: Quicksand;
                        }
                    }
                }
            }
            #about{
                position: relative;
                h2{
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                h4{
                    font-family: Quicksand;
                    font-size: 20px;
                }
                p{
                    font-family: Quicksand;
                    strong{
                        font-family:Quicksand;
                        font-style: italic;
                    }
                }
                .img-hover{
                    height: 200px;
                    width: 200px;
                    background-image: url(../images/chavela.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                     transition-timing-function: ease-in-out;
                    transition: 1s;
                    -webkit-transition: 1s;
                    &:hover{
                         transition-timing-function: ease-in-out;
                        -webkit-transition: 1s;
                        transition: 1s;
                        background-image: url(../images/caricatura.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
                .square{
                    display:inline-block;
                    text-align: center;
                    padding: 10px;
                    height:70px;
                    width: 70px;
                    border: 1px solid #474747;
                    margin: 2px;
                    i{
                        font-size: 30px;
                        color: white;
                    }
                }
                .caja-r{
                    background-color: $orange;
                    &:hover{
                        background-color: darken($orange, 15%);
                    }
                }
                .caja-b{
                    background-color: $facebook;
                    &:hover{
                        background-color: darken($facebook, 15%);
                    }
                }
                .caja-y{
                    background-color: $yellow;
                    &:hover{
                        background-color: darken($yellow, 15%);
                    }
                }
                .caja-g{
                    background-color: $main-green;
                    &:hover{
                        background-color: darken($main-green, 15%);
                    }
                }
                .contenedor{
                    border: 1px solid black;
                    text-align: center;
                    top: 0%;
                    left: 30%;
                    position: absolute;
                    height: 150px;
                    width: 400px;
                    color: white;
                    padding: 20px;
                    transition: all 0.5s ease-in;
                    -webkit-box-shadow: -23px 17px 28px 0px rgba(0,0,0,0.55);
                    -moz-box-shadow: -23px 17px 28px 0px rgba(0,0,0,0.55);
                    box-shadow: -23px 17px 28px 0px rgba(0,0,0,0.55);
                    h3{
                        font-family: Amatic SC;
                        font-size: 30px;
                        font-weight: bold;
                        transition: all 0.5s ease-in;
                    }
                    &._hide{
                        height: 50px;
                        width: 100px;
                        opacity: 0;
                        transition: all 0.5s ease-in; 
                        h3{
                            transition: all 0.5s ease-in;
                            font-size: 0px;
                            opacity: 0;
                        }
                    }
                }
                #draw{
                    background-color: $orange;
                }
                #gamepad{
                    background-color: $facebook;
                }
                #face{
                    background-color: $yellow;
                }
                #people{
                    background-color: $main-green;
                }
                #note{
                    -webkit-box-shadow: 21px 17px 28px 0px rgba(0,0,0,0.55);
                    -moz-box-shadow: 21px 17px 28px 0px rgba(0,0,0,0.55);
                    box-shadow: 21px 17px 28px 0px rgba(0,0,0,0.75);
                     background-color: $facebook;
                }
                #batery{
                     background-color: $yellow;
                     -webkit-box-shadow: 21px 17px 28px 0px rgba(0,0,0,0.55);
                    -moz-box-shadow: 21px 17px 28px 0px rgba(0,0,0,0.55);
                    box-shadow: 21px 17px 28px 0px rgba(0,0,0,0.55);
                }
                #tenedor{
                     background-color: $main-green;
                     -webkit-box-shadow: 21px 17px 28px 0px rgba(0,0,0,0.55);
                    -moz-box-shadow: 21px 17px 28px 0px rgba(0,0,0,0.55);
                    box-shadow: 21px 17px 28px 0px rgba(0,0,0,0.55);
                }
                #compu{
                     background-color: $orange;
                     -webkit-box-shadow: 21px 17px 28px 0px rgba(0,0,0,0.55);
                    -moz-box-shadow: 21px 17px 28px 0px rgba(0,0,0,0.55);
                    box-shadow: 21px 17px 28px 0px rgba(0,0,0,0.55);
                }
            }
            #ability{
                text-align: center;
                .caja{
                    padding: 10px;
                    margin: 15px 0px;
                    border-radius: 10px;
                     transition-timing-function: ease-in-out;
                    transition: 1s;
                    -webkit-transition: 1s;
                     &:hover{
                        background-color: lighten($main-green, 20%);
                            h3{
                                -webkit-transition: 1s; /* Safari */
                                transition: 1s;
                                opacity: 0.9;
                            }
                        }
                    h3{
                        opacity: 0.0;
                        font-weight: bold;
                        font-size: 30px;
                    }
                     img{
                        width: 100px;
                        height: 100px;
                    }
                }
            }
            #galleries{
                .caja{
                    margin: 10px 0px;
                    border: 5px solid transparent;
                    h3{
                        text-align: center;
                        opacity: 0.0;
                        font-weight: bolder;
                        font-size: 30px;
                    }
                    &:hover{
                        border: 5px solid $main-green;
                        h3{
                            transition: 1s;
                            -webkit-transition: 1s;
                            opacity: 0.9;
                        }
                    }
                }
            }
            #contact{
                text-align: center;
                h2{
                    text-align: center;
                    font-size: 30px;
                    font-family: quicksand;
                    padding: 10px;
                    margin-bottom: 20px;
                }
                a{
                    .caja{
                        width: 100%;
                        height: 140px;
                        text-align: center;
                        padding: 20px 10px;
                        -webkit-border-radius: 50%; 
                        -moz-border-radius: 50%;
                        border-radius: 50%; 
                        -webkit-transition:1s; /* Safari */
                        transition: 1s;
                        margin: 0 auto;
                        i{
                            font-size: 80px;
                            color: white;
                            h6{
                                font-size: 0px;
                                opacity: 0;
                            }
                        }
                        &:hover{
                            i{
                                transition: 1s;
                                -webkit-transition: 1s;
                                font-size: 50px;
                                h6{
                                    opacity: 0.9;
                                    transition: 1s;
                                    -webkit-transition: 1s;
                                    font-size: 20px;
                                    font-family: quicksand;
                                }
                            }
                        }
                    }
                    .facebook{
                        background-color: $facebook;
                        &:hover{
                             background-color: darken($facebook, 20%);
                        }
                    }
                    .twitter{
                        background-color: $twitter;
                        &:hover{
                             background-color: darken($twitter, 20%);
                        }
                    }
                    .github{
                        background-color: $github;
                        &:hover{
                             background-color: darken($github, 20%);
                        }
                    }
                    .gitlab{
                        background-color: $gitlab;
                        &:hover{
                             background-color: darken($gitlab, 20%);
                        }
                    }
                    .gmail{
                        background-color: $gmail;
                        &:hover{
                             background-color: darken($gmail, 20%);
                        }
                    }
                }
            .cuadrado{
                    max-width: 30%;
                    height: 140px;
                    background-color: $main-green;
                    text-align: center;
                    padding: 20px 10px;
                    -webkit-border-radius: 10%; 
                    -moz-border-radius: 10%;
                    border-radius: 10px; 
                    -webkit-transition:1s; /* Safari */
                    transition: 1s;
                    margin: 0 auto;
                    i{
                        font-size: 80px;
                        color: white;
                        h6{
                            font-size: 1px;
                            opacity: 0;
                        }
                    }
                    &:hover{
                        background-color: darken($main-green, 10%);
                        i{
                            transition: 1s;
                            -webkit-transition: 1s;
                            font-size: 50px;
                            h6{
                                opacity: 0.9;
                                transition: 1s;
                                -webkit-transition: 1s;
                                font-size: 20px;
                                font-family: quicksand;
                            }
                        }
                    }
                }
                .cubo{
                    max-width: 80%;
                    height: 140px;
                    background-color: $main-green;
                    text-align: center;
                    padding: 20px 10px;
                    -webkit-border-radius: 10%; 
                    -moz-border-radius: 10%;
                    border-radius: 10px; 
                    -webkit-transition:1s; /* Safari */
                    transition: 1s;
                    margin: 0 auto;
                    i{
                        font-size: 50px;
                        color: white;
                        h6{
                            opacity: 0;
                        }
                    }
                    &:hover{
                        background-color: darken($main-green, 10%);
                        i{
                            h6{
                                opacity: 0.9;
                                transition: 1s;
                                -webkit-transition: 1s;
                                font-size: 20px;
                                font-family: quicksand;
                            }
                        }
                    }
                }
            }
        }
    }
}
