$twitter: #4099FF;
$facebook: #3B5998;
$github: #6e5494;
$main-green: #4caf50;
$aqua: #b9f6ca;
$teal: #a5d6a7;
$gitlab: #fc6d26;
$darken-green: #2e7d32;
$orange: #FF8000;
$yellow: #880e4f;
$gmail: #ea4335;